<!-- <div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="https://lorempixel.com/580/250/nature/1" alt="first slide">
      <div class="caption center-align">
        <h3>Big Caption</h3>
        <h5 class="light grey-text text-lighten-3">small caption</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/2" alt="second slide">
      <div class="caption right-align">
        <h3>Big Caption</h3>
        <h5 class="light grey-text text-lighten-3">small caption</h5>
      </div>
    </li>
  </ul>
</div> -->
